.content {
    box-shadow: var(--box-shadow);
    background-color: var(--white-background);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 20px;
}
.list {
    justify-content: flex-end;
    padding-right: 30px;
}
.title {
    position: absolute;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 0 10px;
    }
    .content {
        padding: 10px;
    }
}
