.wrapper {
    width: 70%;
    display: block;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        display: block;
        margin: auto;
        width: 100%;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    .body {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
