.box {
    background: white;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 3px #ccc;
}

.button {
    background: 'blue';
    width: '70px';
    height: '70px';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    border-radius: '50%';
    box-shadow: '0 0 3px #ccc';
}

.button__image {
    max-width: 30px;
    margin-right: 5px;
    object-fit: contain;
    transform: translateX(-20%);
}

@media (max-width: 500px) {
    .button__image {
        max-width: 25px;
        margin-right: 5px;
        object-fit: contain;
    }
}
