.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 20px;
    .pagination {
        display: flex;
        height: 50px;
        align-items: center;
    }
    .content {
        box-shadow: var(--box-shadow);
        background-color: var(--white-background);
        border-radius: 8px;
        height: calc(100% - 50px);
        margin-bottom: 20px;
        padding: 20px;
    }
}

.listPage {
    box-shadow: var(--box-shadow);
    background-color: var(--white-background);
    border-radius: 8px;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 0 10px;
        .content {
            padding: 10px;
        }
    }
}
