.mantine-TextInput-label,
.mantine-Select-label,
.mantine-Textarea-label,
.mantine-Text-root,
.mantine-NumberInput-label,
.mantine-MultiSelect-label,
.mantine-DateTimePicker-label,
.mantine-Autocomplete-label,
.mantine-DateInput-label,
.mantine-TimeInput-label,
.mantine-InputBase-label {
    font-size: 16px;
    font-weight: 600;
    color: #3d4465;
}
