/* ============== VARIALE CSS ============== */
:root {
    --header-height: 9.75rem;
    --header-content: 9.75rem;
    --header-height-top: 2.5rem;
    --banner-cart-height: 24.75rem;

    /* ======== Colors ======== */
    /* Color mode HSL (hue, saturation, lightness) */
    --primary-color: #1505cc;
    --nav-color: #111;
    --sub-color: #69658c;
    --title-color: #304659;
    --title-color-2: #919191;
    --title-color-sub: #696f8c;
    --title-white: #ffffff;
    --background-color: rgb(255, 255, 255);
    --background-color-gray: #d9d9d9;
    --background-color-light: #eef4ff;
    --text-color: #404040;
    --text-color-light: #ffffff;
    --second-color: #54b5ae;
    --body-color: white;
    --content-color: #000000;
    --container-color: white;
    --input-color: #757575;
    --star-color: #ffbe17;
    --border-radius: 10px;
    --red-color: #ff0000;
    --blue-color: #3a6ad4;
    --orange-color: #f37d3b;
    --Color-Philippine-Gray: #8f8f8f;
    /* ======== Font weight ======== */
    --font-normal: 400;
    --font-semi-bold: 500;
    --font-bold: 600;
    --font-big: 700;

    /* ======== Font and typography ======== */
    --body-font: sans-serif;

    /* ======== .5rem = 8px | 1rem = 16px ======== */
    --big-font-size: 64px;
    --h1-font-size: 34px;
    --h2-font-size: 32px;
    --h3-font-size: 30px;
    --primary-font-size: 16px;
    --sub-font-size: 18px;
    --small-font-size: 14px;

    /* ======= color for category ======== */
    --gray-bg: #fdfdfd;
    --category-name: #304659;
    --product-container-bg: #f3f4f9;
    --black-cate-name: #828282;
    --product-name: #000201;
    --product-price: #3a6ad4;

    /* ======= font size mobile ======== */
    --primary-font-size-mb: 10px;
    --sub-font-size-mb: 8px;
    --small-font-size-mb: 7px;

    --box-shadow: 0px -2px 15px 0px rgba(0, 172, 193, 0.2);
}

@media (max-width: 768px) {
    :root {
        --header-height: 4.4rem;
        --big-font-size: 20px;
        --h1-font-size: 28px; // 25px
        --h2-font-size: 26px;
        --h3-font-size: 24px;
        --primary-font-size: 16px;
        --sub-font-size: 14px;
        --small-font-size: 10px;
    }
}

@media (max-width: 960px) {
    :root {
        --header-height: 4.4rem;
        --big-font-size: 20px;
        --h1-font-size: 28px; // 25px
        --h2-font-size: 26px;
        --h3-font-size: 24px;
        --primary-font-size: 16px;
        --sub-font-size: 14px;
        --small-font-size: 10px;
    }
}
