.baseListPage {
    min-height: calc(100vh - 230px);
    border: 1px solid #fff;
    background-color: #fff;
    .action-bar {
        margin: 10px 0 10px 0;
    }
    .baseTable {
        overflow-x: auto;
    }
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.searchForm {
    margin-bottom: 20px;
}
.actionBar {
    margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
    .baseListPage {
        padding: 0;
    }
}
