.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 1200px;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 567px) {
    .container {
        width: 100%;
        max-width: 540px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 720px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
