.header {
    height: var(--header-height);
}
.headerTop {
    background-color: var(--primary-color);
    height: var(--header-height-top);
    display: flex;
    align-items: center;
    .topWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .topLeft {
            display: flex;
            gap: 1.25rem;
        }
        .topRight {
            display: flex;
            align-items: center;
            gap: 1rem;
            .title {
                color: var(--text-color-light);
                font-size: var(--primary-font-size);
                font-weight: var(--font-bold);
            }
        }
    }
}

.headerContent {
    .headerSearch {
        display: flex;
        padding-top: 18px;
        justify-content: space-between;
        .search {
            height: 3.75rem;
            display: flex;
            gap: 12px;
            align-items: center;
            .btnAdd {
                height: 3.75rem;
                .innerAdd {
                    color: #3761bf;
                    font-size: var(--primary-font-size);
                    font-weight: var(--font-big);
                    padding: 0 1.5rem;
                }
            }
            .btnBook {
                height: 3.75rem;

                .innerBook {
                    color: var(--title-white);
                    font-size: var(--primary-font-size);
                    font-weight: var(--font-big);
                    padding: 0 1.5rem;
                }
            }
        }
    }
}
.buttonLogin {
    display: flex;
}
.actionLogin {
    display: flex;
}
