.wrapper {
    .content {
        background-color: var(--white-background);
        .title {
            padding: 1rem 30px;
            color: var(--primary-orange);
        }
        .table {
            padding: 20px;
        }
    }
}
