.wrapper {
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 10px;
    background-color: var(--white-bg);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: var(--box-shadow);
    .cart,
    .menu {
        width: 22px;
        flex-shrink: 0;
        cursor: pointer;
        img {
            width: 22px;
        }
    }
    .logo {
        display: block;
        width: 42px;
        flex-shrink: 0;
        img {
            object-fit: fill;
        }
    }
    .headerNav {
        display: flex;
        gap: 10px;
        align-items: center;
        .avatar {
            display: block;
            width: 32px;
            flex-shrink: 0;
            img {
                object-fit: fill;
                border-radius: 50%;
            }
        }
    }
}
.nav {
    display: flex;
    flex-direction: column;
    .navItem,
    .navLogout {
        color: var(--nav-color);
        font-size: var(--primary-font-size);
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        padding: 1rem;
        line-height: 16px;
    }
    .navItem {
        border-bottom: 1px solid #ddd;
    }
}
