.rowItem {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    gap: 13px;
}
.wrapper {
    padding: 30px 0;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 10px 0;
    }
}
