.main {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .main {
        background-color: #fff;
        padding: 0px;
    }
}
