.wrapper {
    display: flex;
    width: 100%;
    gap: 40px;
    padding: 40px 20px;
    position: relative;
    height: 100%;
    .navBar {
        flex-shrink: 0;
        width: 360px;
        height: 100%;
    }
    .content {
        width: 100%;
    }
}
