.wrapper {
    display: flex;
    width: 100%;
    position: relative;
    height: calc(100vh - 111px);
    .navBar {
        flex-shrink: 0;
        width: 360px;
    }
    .content {
        width: 100%;
    }
}
.wrapperAdmin {
    display: flex;
    flex-direction: column;
    height: 100%;
}
