.basic-modal {
    position: absolute;
    padding: 1.5rem 1.5rem;
    background-color: white;
    border-radius: 10px;

    .modal-header {
        display: flex;
        justify-content: space-between;
        font-weight: bolder;
        margin-bottom: 1rem;
        button {
            border: none;
            background: none;
            cursor: pointer;
        }

        img {
            width: 10px;
        }
    }

    .modal-content {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        overflow: auto;
        max-height: 60vh;
    }

    .modal-footer {
        display: flex;
        justify-content: right;
        gap: 10px;

        button {
            border-radius: 5px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

        .cancel-button {
        }

        .ok-button {
            background-color: #1677ff;
            color: white;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.297);
    z-index: 1000;
}
