.avatar {
    flex-shrink: 0;
    img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        object-fit: fill;
    }
}
.wrapper {
    display: flex;
    gap: 1rem;
    .content {
        flex: 1;
    }
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .infoUser {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .message {
        margin-top: 1rem;
        font-size: var(--small-font-size);
    }
}
