.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20px;
    .pagination {
        display: flex;
        height: 50px;
        align-items: center;
    }
    .content {
        box-shadow: var(--box-shadow);
        background-color: var(--white-background);
        border-radius: 8px;
        height: calc(100% - 50px);
        overflow-y: auto;
        margin-bottom: 20px;
    }
}
.card {
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    margin: 10px;
    .title {
        padding: 16px 32px;
        border-bottom: 1px solid #eeeeee;
    }
    .marketingInfo {
        padding: 30px;
        background-color: var(--white-background);
    }
}

.cardListProduct {
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    margin: 10px;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eeeeee;

        .title {
            padding: 16px 32px;
        }
        .btnAdd {
        }
    }
    .marketingInfo {
        padding: 30px;
        background-color: var(--white-background);
    }
}

.list {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
}
.tab {
    height: 50px;
    font-size: 18px;
    font-weight: 550;
    border-radius: 0;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: end;
}

@media only screen and (max-width: 600px) {
    .card,
    .cardListProduct {
        .marketingInfo {
            padding: 10px;
        }
    }
}
