.imagePreview {
    display: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: 0.3s;
}

.imagePreview:hover,
.round:hover {
    // opacity: 0.7;
    cursor: pointer;
}

.imageUploader {
    display: none;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background: #e5e5e5;
    display: flex;
    text-align: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.preFix {
    width: 50px;
}

.imagePreviewContaier {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .editButton {
        position: absolute;
        bottom: -15px;
        width: 35px;
        cursor: pointer;
    }
}
