.services {
    margin-top: 10rem;
    margin-bottom: 80px;
}

.title {
    color: var(--primary-color);
    //padding-top: 2rem;
    // margin-bottom: 2rem;
}

.servicesList {
    display: flex;
    gap: 15px;

    // margin: 30px;
    flex-direction: column;
}

.seeMore {
    color: var(--text-color);
    margin-top: 0px;
    margin-right: 10px;
}
