// Dashboard
.page {
    background-color: white;
    padding: 30px;
}
.wrapper {
    // width: 80%;
    margin: 0 auto;
    gap: 20px;
    position: relative;

    background-color: #ededed;
    .container {
        display: flex;
        gap: 30px;
        min-height: calc(100vh - 40px);
    }
    .navBar {
        flex-shrink: 0;
        width: 360px;
    }
    .content {
        width: 100%;
    }
}
.wrapperMobile {
    margin-top: 5rem;
    margin-bottom: 1rem;
    min-height: 80vh;
}
.wrapperAdmin {
    display: flex;
    flex-direction: column;
    height: 100%;
    .contents {
        padding: 0 20px;
        height: calc(100% - 50px);
        margin-bottom: 20px;
        .content {
            background-color: var(--white-background);
            height: 100%;
            box-shadow: var(--box-shadow);
            border-radius: 8px;
            overflow-y: auto;
        }
    }
}

@media only screen and (max-width: 600px) {
    .navBar {
        display: none;
    }
    .wrapperAdmin .contents {
        padding: 0 10px;
    }
}
