.wrapper {
    display: block;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
