.boxSearch {
    background-color: var(--white-background);
    margin-bottom: 30px;
    box-shadow: var(--box-shadow);
}
.formSearch {
    padding: 30px;
}
.titleSearch {
    padding: 1rem 30px;
    color: var(--primary-orange);
}
/* Styles cho điện thoại */
@media screen and (max-width: 576px) {
    .formSearch {
        padding: 10px;
    }
    .titleSearch {
        padding: 1rem 0;
        color: var(--primary-orange);
    }
}
