.productImg {
    height: 200px;
    object-fit: fill;
}
.productName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3rem;
    color: var(--color-text);
    :hover {
        color: var(--color-prymary);
        cursor: pointer;
    }
}
.productOnSale {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--color-white);
    background-color: var(--theme-color);
}
