.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    .box {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
    }
}
